@import '../base/reset';
@import '../base/variables';
@import '../base/mixin.scss';



.aboutUs-container {
    display: flex;
    flex-direction: column;
    text-align: left;

    .uberUns-aboutUs-container {
        color: $text-color-secondary;
        font-size: 15px;
        padding-left: 35px;
        padding-right: 57px;
        font-family: $font-family-primary-medium;
        letter-spacing: 0.75px;
        line-height: 23px;
        text-transform: uppercase;
        margin-top: 67px;
    }

    h2 {
        font-size: 27px;
        color: $text-color-primary;
        padding-left: 35px;
        padding-right: 57px;
        font-family: $font-family-primary-semiBold;
        letter-spacing: 2.7px;
        line-height: 41px;
        text-transform: uppercase;
        margin-top: 13px;
    }

    .text-aboutUs-container {
        font-size: 18px;
        color: $text-color-primary;
        padding-left: 35px;
        padding-right: 36px;
        font-family: $font-family-secondary-regular;
        letter-spacing: 1.26px;
        line-height: 30px;
        margin-top: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .button-full-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        .readMore-aboutUs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .class-readMore {
                color: $element-color-primary;
                font-family: $font-family-primary-semiBold;
                font-size: 16px;
                padding-left: 151px;
                padding-right: 150px;
                letter-spacing: 0.54px;
                line-height: 30px;
                margin-top: 30px;
                font-weight: bold;
                text-decoration: none;

                .open-icon-readMore {
                    transform: rotate(90deg);
                    width: 16.16px;
                    height: 30px;

                }
            }
        }

        .readLess-aboutUs-container {

            .main-button-full-text {
                @include primary-button($transition: false, $opacity: false);
                opacity: 80%;
            }

            .secondary-button-full-text {
                @include secondary-button($transition: false);


            }

            .close-icon-readMore {
                transform: rotate(270deg);
                width: 16.16px;
                height: 30px;
            }
        }
    }

}







