.contact {

    &__container {
        display: flex;
        flex-direction: column;

        @include desktop {

            display: flex;
            flex-direction: row;

            &__informations-container-desktop {
                margin-right: 80px;
            }

            &__map-container-desktop {
                display: flex;
                flex-direction: column;
            }

        }

        &__h2 {
            margin-top: 55px;
            margin-left: 35px;
            margin-right: 36px;
            font-size: 27px;
            letter-spacing: 2.7px;
            line-height: 41px;
            color: $text-color-primary;
            font-family: $font-family-primary-semiBold;
            word-wrap: break-word;

            @include desktop {
                margin: 0px;
                font-size: 34px;
                letter-spacing: 3.4px;
                line-height: 50px;
                margin-bottom: 30px;
                margin-top: -79px;
            }
        }

        &__h3 {
            margin-top: 30px;
            margin-left: 35px;
            margin-right: 36px;
            font-size: 17px;
            letter-spacing: 1.7px;
            line-height: 26px;
            color: $text-color-primary;
            font-family: $font-family-primary-bold;

            @include desktop {
                margin: 0px;
                font-size: 22px;
                letter-spacing: 2.2px;
                line-height: 33px;
            }
        }

        &__information {
            margin-top: 20px;
            color: $text-color-primary;
            font-size: 18px;
            font-family: $font-family-secondary-regular;
            letter-spacing: 0.54px;
            line-height: 30px;
            margin-left: 35px;

            @include desktop {
                margin: 0px;
            }

            &__adress {
                margin-bottom: 40px;

            }
        }

        &__localisation {
            width: 393px;
            height: 361px;
            border: 1px solid $element-color-primary;
            align-self: center;
            margin-top: 20px;

            @include desktop {
                padding: 10px;
            }

            &__text-container {
                margin-top: 20px;

                &__text-header {
                    margin-top: 19px;
                    margin-left: 14px;
                    margin-right: 57px;
                    color: $text-color-primary;
                    font-size: 15px;
                    font-family: $font-family-secondary-regular;
                    letter-spacing: 0.45px;
                    line-height: 30px;

                    @include desktop {
                        margin-top: 0px;
                        font-size: 18px;
                        letter-spacing: 0.54px;
                        line-height: 30px;
                        margin-right: 35px;
                    }
                }

                &__text-main {
                    margin-top: 20px;
                    margin-left: 14px;
                    margin-right: 57px;
                    color: $text-color-primary;
                    font-size: 15px;
                    font-family: $font-family-secondary-regular;
                    letter-spacing: 0.45px;
                    line-height: 30px;

                    @include desktop {
                        font-size: 18px;
                        letter-spacing: 0.54px;
                        line-height: 30px;
                        margin-right: 35px;
                        margin-top: 35px;
                    }

                    &__underline {
                        border-bottom: 1px solid $text-color-primary;
                    }
                }

                &__text-footer {
                    margin-top: 20px;
                    margin-left: 14px;
                    margin-right: 57px;
                    color: $text-color-primary;
                    font-size: 15px;
                    font-family: $font-family-secondary-regular;
                    letter-spacing: 0.45px;
                    line-height: 30px;

                    @include desktop {
                        font-size: 18px;
                        letter-spacing: 0.54px;
                        line-height: 30px;
                        margin-right: 35px;
                        margin-top: 35px;
                    }
                }
            }
        }

        &__button-map {
            @include primary-button($transition: false, $opacity: false);
        }
    }
}