@import '../base/reset';
@import '../base/variables';
@import '../base/mixin';
@import '../base/placeholder';

.customer-reviews {
    margin-top: 54px;

    &__h2 {
        margin-top: 40px;
        margin-left: 32px;
        font-size: 27px;
        letter-spacing: 2.7px;
        line-height: 41px;
        font-family: $font-family-primary-semiBold;
        color: $text-color-primary;
    }

    &__average-container {
        margin-left: 25px;

        &__note {

            font-size: 100px;
            line-height: 150px;
            font-family: $font-family-primary-regular;
            color: $element-color-primary;
        }

        &__stars-average-container {
            display: flex;
            display: inline-block;
            width: 228px;
            height: 35.08px;

            &__img {
                width: 36px;
                height: 35px;
            }
        }

        &__h3 {
            margin-top: 18px;
            font-size: 20px;
            line-height: 30px;
            font-family: $font-family-primary-medium;
            color: $text-color-primary;
        }
    }

    &__customer-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        &__name {

            font-size: 30px;
            line-height: 45px;
            letter-spacing: 3px;
            font-family: $font-family-primary-light;
            color: $text-color-secondary;

            &--margin {
                margin-left: -10px;
            }
        }

        &__text {
            width: 280px;
            margin-top: 20px;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 1.12px;
            font-family: $font-family-secondary-semiBold;
            color: $text-color-primary;
            text-align: center;
        }

        &__chevrons-container {
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;

            &__left-chevron {
                @extend %left-icon-chevron;
            }

            &__right-chevron {
                @extend %right-icon-chevron;
            }
        }

        &__stars-note-container {

            &__img {
                width: 27px;
                height: 26px;
            }
        }
    }
}