.customer-reviews {
    margin-top: 54px;

    &__h2 {
        margin-top: 40px;
        margin-left: 32px;
        font-size: 27px;
        letter-spacing: 2.7px;
        line-height: 41px;
        font-family: $font-family-primary-semiBold;
        color: $text-color-primary;

        @include desktop {
            font-size: 34px;
            width: 522px;
            margin-left: 273px;
            letter-spacing: 3.4px;
            line-height: 50px;
        }
    }

    @include desktop {
        &__desktop-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 273px;
            margin-bottom: 157px;
        }
    }

    .customer-reviews__average-container {
        margin-left: 25px;

        @include desktop {
            width: 420px;
            height: 150px;
            margin: 0;
            display: flex;
            align-items: center;
            margin-right: 295px;

            &__desktop-subcontain {
                display: flex;
                flex-direction: column;
            }
        }

        &__note {

            font-size: 100px;
            line-height: 150px;
            font-family: $font-family-primary-regular;
            color: $element-color-primary;

            @include desktop {
                margin-right: 40px;
            }
        }

        &__stars-average-container {
            display: flex;
            display: inline-block;
            width: 228px;
            height: 35.08px;

            &__img {
                width: 36px;
                height: 35px;
            }
        }

        &__h3 {
            margin-top: 18px;
            font-size: 20px;
            line-height: 30px;
            font-family: $font-family-primary-medium;
            color: $text-color-primary;

            @include desktop {
                width: 249px;
            }
        }
    }

    &__customer-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        @include desktop {
            width: 624px;
            height: 343px;
            margin: 0;
            margin-right: 303px;

            &__name-desktop-container {
                display: flex;
                flex-direction: row;
            }
        }

        &__name {

            font-size: 30px;
            line-height: 45px;
            letter-spacing: 3px;
            font-family: $font-family-primary-light;
            color: $text-color-secondary;

            &--margin {
                margin-left: -10px;

                @include desktop {
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
        }

        &__text {
            width: 280px;
            margin-top: 20px;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 1.12px;
            font-family: $font-family-secondary-semiBold;
            color: $text-color-primary;
            text-align: center;

            @include desktop {
                margin: 0;
                margin-top: 25px;
                margin-bottom: 20px;
                width: 492px;
            }
        }

        &__chevrons-container {
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;

            &__left-chevron {
                @extend %left-icon-chevron;

                @include desktop {
                    width: 26.93px;
                    height: 50px;
                }
            }

            &__right-chevron {
                @extend %right-icon-chevron;
            }
        }

        &__stars-note-container {

            &__img {
                width: 27px;
                height: 26px;
            }
        }
    }
}