@import '../base/reset';
@import '../base/variables';
@import '../base/mixin';
@import '../base/placeholder';

.d-max {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__h2 {
        margin-top: 83px;
        text-align: left;
        font-size: 27px;
        margin-left: -100px;
        height: 41px;
        font-family: $font-family-primary-bold;
        font-weight: bold;
        color: #333333;
        letter-spacing: 0.01px;
        line-height: 44px;
    }

    &__pictures-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__select-picture {
            display: inline-block;
            width: 90px;
            height: 90px;
            cursor: pointer;
            margin: 13px;
            transition: transform 0.5s ease;
            border: 1px solid $border-color-img;
            border-radius: 10px;
            margin-top: 23px;

            &.selected {
                border-color: $element-color-primary;
            }
        }

        img {
            width: 80px;
            height: 80px;
            object-fit: contain;
            margin-top: 10px;
        }
    }

    &__selected-content {
        margin-top: 20px;
        overflow: hidden;
        position: relative;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
            transform: translateX(0);

            &__title {
                letter-spacing: 0.01px;
                line-height: 20px;
                font-family: $font-family-primary-semiBold;
                font-weight: bold;
                color: $text-color-primary;
                font-size: 30px;
                margin-top: 30px;
            }

            &__text {
                letter-spacing: 1.12px;
                line-height: 30px;
                font-family: $font-family-secondary-regular;
                color: $text-color-primary;
                font-size: 16px;
                text-align: left;
                margin-left: 37px;
                margin-right: 52px;
            }    
        }
    }

    &__button {
        @include primary-button;
    }

    // js
    .entering {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .exiting {
        opacity: 0;
        transform: translateX(100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .entering-from-left {
        opacity: 1;
        transform: translateX(0);
        transition: transform 0.5s ease;
    }

    #displayed-image {
        &.exiting {
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        &.entering {
            opacity: 1;
            transition: opacity 0.5s ease;
        }
    }
}