header {
    background-color: $background-color-header;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1020;
    top: 0;

    @include desktop {
        height: 62px;
    }

    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__left-side {
            width: 100%;
            margin-left: 35px;
            margin-top: 15px;
            margin-bottom: 10px;

            @include desktop {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__logo {
                filter: brightness(0) invert(1);
                width: 98px;
                height: 19.57px;

                @include desktop {
                    margin-left: 140px;
                    margin-top: 6px;
                }
            }

            &__text {
                width: 271px;
                height: 18px;
                margin-top: 7.42px;
                font-size: 13px;
                line-height: 19px;
                color: $text-color-tertiary;
                font-family: $font-family-secondary-bold;

                @include desktop {
                    margin-right: 133px;
                }
            }

        }

        &__right-side {
            margin-right: 36px;
            margin-top: 16.44px;
            height: 58px;

            @include desktop {
                display: none;
            }

            &__hamburger {
                width: 22.59px;
                height: 18.56px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                &__line {
                    width: 22.59px;
                    height: 2px;
                    background-color: $text-color-tertiary;
                    font-weight: bold;
                }
            }
        }
    }
}

