.n-series {

    @include desktop {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 112px;
    }

    &__picture {
        max-width: 100%;
        height: 459px;
        object-fit: cover;
        margin-top: 69px;

        @include desktop {
            height: 776px;
        }
    }

    @include desktop {
        &__desktop-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 210px;
            margin-top: 115px;
        }
    }

    &__h3 {
        @extend %h3-property-mobile;
        margin-top: 21px;
        margin-left: 37px;
        margin-right: 57px;

        @include desktop {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 11;
            @include h3-property-desktop;
        }
    }

    &__h2 {
        @extend %h2-property-mobile;
        margin-top: 13px;
        margin-left: 35px;
        margin-right: 57px;

        @include desktop {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 40px;
            @include h2-property-desktop;
        }
    }

    &__text {
        @extend %text-property-mobile;
        margin-left: 35px;
        margin-right: 57px;

        @include desktop {
            width: 398px;
            margin-left: 0;
            margin-right: 0;
            @include text-property-desktop;
        }
    }

    &__buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            align-items: start;
            margin-top: 12px;
        }

        &__main-button {
            @include primary-button($transition: false);

            @include desktop {
                align-self: normal;
                width: 263px;
            }
        }

        &__secondary-button {
            @include secondary-button;

            @include desktop {
                width: 263px;
            }
        }
    }
}