@import '../base/reset';
@import '../base/variables';
@import '../base/mixin';
@import '../base/placeholder';

.opening-hours {
    margin-top: 30px;
    margin-left: 35px;

    &__h2 {
        font-size: 22px;
        letter-spacing: 2.3px;
        line-height: 33px;
        color: $text-color-primary;
        font-family: $font-family-primary-bold;
    }

    &__h3 {
        margin-top: 20px;
        font-size: 22px;
        letter-spacing: 2.2px;
        line-height: 30px;
        color: $text-color-primary;
        font-family: $font-family-primary-medium;
    }

    &__h4 {
        margin-top: 20px;
        font-size: 18px;
        letter-spacing: 0.54px;
        line-height: 30px;
        color: $text-color-primary;
        font-family: $font-family-secondary-bold;
    }

    &__time-container {
        margin-top: 10px;
        font-size: 18px;
        letter-spacing: 0.54px;
        line-height: 30px;
        color: $text-color-primary;
        font-family: $font-family-secondary-regular;
    }

    &__text-footer {
        margin-top: 30px;
        margin-right: 36px;
        font-size: 18px;
        letter-spacing: 0.54px;
        line-height: 30px;
        color: $text-color-primary;
        font-family: $font-family-secondary-regular;

        span {
            display: block;
        }
    }
}