@import '../utils/reset';
@import '../utils/variables/variables';
@import '../utils/mixin/mixin';
@import '../utils/placeholder/placeholder';

.opening-hours {
    margin-top: 30px;
    margin-left: 35px;

    @include desktop {
        margin: 0px;
    }

    &__h2 {
        font-size: 22px;
        letter-spacing: 2.3px;
        line-height: 33px;
        color: $text-color-primary;
        font-family: $font-family-primary-bold;

        @include desktop {
            margin-bottom: 10px;
        }
    }

    &__h3 {
        margin-top: 20px;
        font-size: 22px;
        letter-spacing: 2.2px;
        line-height: 30px;
        color: $text-color-primary;
        font-family: $font-family-primary-medium;

        @include desktop {
            margin-top: 30px;
            font-size: 22px;
            letter-spacing: 2.2px;
            line-height: 33px;
        }
    }

    &__h4 {
        margin-top: 20px;
        font-size: 18px;
        letter-spacing: 0.54px;
        line-height: 30px;
        color: $text-color-primary;
        font-family: $font-family-secondary-bold;

        @include desktop {
            font-family: $font-family-secondary-regular;
            margin-top: 15px;
        }
    }

    &__time-container {
        margin-top: 10px;
        font-size: 18px;
        letter-spacing: 0.54px;
        line-height: 30px;
        color: $text-color-primary;
        font-family: $font-family-secondary-regular;

        @include desktop {
            position: relative;
            top: -39px;
            margin-bottom: -50px;
            margin-left: 234px;

            li {
                margin-bottom: 8px;
            }
        }
    }

    &__text-footer {
        margin-top: 30px;
        margin-right: 36px;
        font-size: 18px;
        letter-spacing: 0.54px;
        line-height: 30px;
        color: $text-color-primary;
        font-family: $font-family-secondary-regular;

        @include desktop {
            width: 416px;
            margin-top: 36px;
        }

        span {
            display: block;
        }
    }
}