@import '../base/reset';
@import '../base/variables';
@import '../base/mixin';
@import '../base/placeholder';

.techno-and-function {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop {
        flex-direction: row;
    }

    &__container-picture {
        position: relative;
        max-width: 100%;
        width: 100%;

        &__img {
            width: 100%;
            height: 459px;
            display: block;
            margin: auto;
            object-fit: cover;
        }
    }

    &__h3 {
        position: absolute;
        top: 6%;
        left: 47%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: white;
        font-size: 23px;
        letter-spacing: 5px;
        line-height: 38px;
        font-family: $font-family-primary-bold;
        text-align: center;
        width: 270px;
    }

    &__container-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        width: 100%;

        &__container-title {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            width: 100%;

            .techno-and-function__container-content__container-title__left-chevron {
                @extend %left-icon-chevron;

                @include desktop {

                    display: none;
                }
            }

            &__h2 {
                width: 184px;
                height: 82px;
                font-size: 27px;
                letter-spacing: 2.7px;
                line-height: 41px;
                margin-left: 41px;
                font-family: $font-family-primary-semiBold;

                @include desktop {

                    width: 369px;
                }
            }

            .techno-and-function__container-content__container-title__right-chevron {
                @extend %right-icon-chevron;

                @include desktop {

                    display: none;
                }

            }
        }
    }

    &__desktop-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include desktop {

            &__left-chevron {
                width: 16.16px;
                height: 30px;
                transform: rotate(180deg);
            }

            &__right-chevron {
                width: 16.16px;
                height: 30px;

            }
        }

        &__text {
            margin-top: 20px;
            margin-left: 36.2px;
            margin-right: 36.8px;
            font-size: 16px;
            letter-spacing: 1.12px;
            line-height: 30px;
            font-family: $font-family-primary-semiBold;
            color: $text-color-primary;
        }
    }

    &__button {
        @include primary-button;
    }
}