/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.aboutUs-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.aboutUs-container .full-text {
  display: none;
}
.aboutUs-container .uberUns-aboutUs-container {
  color: #6D727B;
  font-size: 15px;
  padding-left: 35px;
  padding-right: 57px;
  font-family: "Kanit Medium", sans-serif;
  letter-spacing: 0.75px;
  line-height: 23px;
  text-transform: uppercase;
  margin-top: 74px;
}
.aboutUs-container h2 {
  font-size: 25px;
  color: #333333;
  padding-left: 35px;
  padding-right: 57px;
  font-family: "Kanit Semi-Bold", sans-serif;
  letter-spacing: 2.7px;
  line-height: 41px;
  text-transform: uppercase;
  margin-top: 13px;
}
.aboutUs-container .text-aboutUs-container {
  font-size: 18px;
  color: #333333;
  padding-left: 35px;
  padding-right: 36px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.26px;
  line-height: 30px;
  margin-top: 20px;
}
.aboutUs-container .class-readMore {
  color: #E3000B;
  font-family: "Kanit Semi-Bold", sans-serif;
  font-size: 16px;
  padding-left: 151px;
  padding-right: 150px;
  letter-spacing: 0.54px;
  line-height: 30px;
  margin-top: 30px;
  font-weight: bold;
  text-decoration: none;
}

.readMore-aboutUs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.open-icon-readMore {
  transform: rotate(90deg);
  width: 16.16px;
  height: 30px;
}

.button-full-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-full-text .main-button-full-text {
  margin-top: 20px;
  background-color: #E3000B;
  border-radius: 26px 26px 26px 26px;
  width: 322px;
  height: 52px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Kanit", sans-serif;
  opacity: 80%;
  letter-spacing: 1.26px;
  line-height: 30px;
  border: 1px solid #E3000B;
}
.button-full-text .secondary-button-full-text {
  margin-top: 20px;
  border-radius: 26px 26px 26px 26px;
  width: 322px;
  height: 52px;
  color: #333333;
  font-size: 16px;
  font-family: "Kanit", sans-serif;
  letter-spacing: 1.26px;
  line-height: 30px;
  border: 3px solid #333333;
}
.button-full-text .secondary-button-full-text:hover {
  background-color: #333333;
  color: #ffffff;
}
.button-full-text .close-icon-readMore {
  transform: rotate(270deg);
  width: 16.16px;
  height: 30px;
}/*# sourceMappingURL=aboutUs.css.map */