// colors
$text-color-primary: #333333;
$text-color-secondary: #6D727B;
$text-color-tertiary: #ffffff;
$element-color-primary: #E3000B;
$border-color-video: #707070;
$border-color-img: #AFAFAF;
$background-color-header: #333333BF;

// fonts
$font-family-primary-bold: 'Kanit Bold', sans-serif;
$font-family-primary-semiBold: 'Kanit Semi-Bold', sans-serif; 
$font-family-primary-medium: 'Kanit Medium', sans-serif;
$font-family-primary-regular: 'Kanit Regular', sans-serif;
$font-family-primary-light: 'Kanit Light', sans-serif;

$font-family-secondary-bold: 'Open Sans Bold', sans-serif;
$font-family-secondary-semiBold: 'Open Sans Semi-Bold', sans-serif; 
$font-family-secondary-regular: 'Open Sans Regular', sans-serif;



