// colors
$text-color-primary: #333333;
$text-color-secondary: #6D727B;
$text-color-tertiary: #ffffff;
$element-color-primary: #E3000B;
$elemtn-color-secondary: #FF000080;
$border-color-video: #707070;
$border-color-img: #AFAFAF;

