// colors
$text-color-primary: #333333;
$text-color-secondary: #6D727B;
$text-color-tertiary: #ffffff;
$element-color-primary: #E3000B;
$elemtn-color-secondary: #FF000080;
$border-color-video: #707070;

// polices Kanit
$kanit-bold: "Kanit Bold", sans-serif;
$kanit-semiBold: "Kanit Semi-Bold", sans-serif;
$kanit-regular: "Kanit", sans-serif;
$kanit-medium: "Kanit Medium", sans-serif;
$kanit-light: "Kanit Light", sans-serif;

// polices Open Sans
$openSans-bold: "Open Sans Bold", sans-serif;
$openSans-semiBold: "Open Sans Semi-Bold", sans-serif;
$openSans-regular: "Open Sans", sans-serif;

