// utils
@import './utils/reset.css';
@import './utils/variables/variables';
@import './utils/placeholder/placeholder';
@import './utils/mixin/mixin';
// header
@import './components/modalHeader.scss';
@import './components/header.scss';
// main
@import './components/videoIntroduction.scss';
@import './components/aboutUs.scss';
@import './components/technoAndFunction.scss';
@import './components/dMax.scss';
@import './components/nSeries.scss';
@import './components/contact.scss';
@import './components/openingHours.scss';
@import './components/customerReviews.scss';
@import './components/photoGalery.scss';
// footer
@import './components/footer.scss';
// aside
@import './components/options.scss';
@import './components/sideMenuDesktop.scss';



body {
    opacity: 98%;
    overflow-x: hidden;
}

// SECTION REGROUPANT CONTACT ET OPENING HOURS POUR LE DESKTOP 
.contact-opening-hours-desktop {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 60px;
    margin-top: 192px;
    margin-bottom: 112px;
    
    @include mobile {
        display: none;
    }
}